




WS_PORT=8765
WS_MAX_CONNECTIONS=30000
WS_QOS_THRESHOLD=27000



REDIS_HOST=IP_SERVIDOR_PRINCIPAL
REDIS_PORT=6379
REDIS_PASS=tu_password_de_redis

DB_HOST=IP_SERVIDOR_PRINCIPAL
DB_USER=system_web_executor
DB_PASS=secret
DB_CANVASES_NAME=db_canvases

# API interna de PHP para llamadas desde Rust
PHP_API_INTERNAL_URL=http://nginx/api/index.php
INTERNAL_API_SECRET=
