# ==========================================
# APLICACIÓN
# ==========================================
APP_NAME=
APP_URL=
APP_TIMEZONE=

# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS (MYSQL)
# ==========================================
# Contraseña maestra del sistema (Solo para mantenimiento)
DB_ROOT_PASSWORD=

# Usuario restringido que usará la aplicación PHP (El "empleado")
DB_USER=
DB_PASS=
DB_HOST=
DB_IDENTITY_NAME=
DB_CANVASES_NAME=db_canvases

# ==========================================
# CACHÉ Y SESIONES (REDIS)
# ==========================================
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=

# ==========================================
# CLOUDFLARE TURNSTILE 
# ==========================================
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# ==========================================
# CONFIGURACIÓN DE CORREO (SMTP)
# ==========================================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=

# ==========================================
# BACKUPS (WORKER)
# ==========================================
BACKUP_ENCRYPTION_KEY=

# ==========================================
# TELEMETRÍA Y ANALÍTICAS
# ==========================================
DB_TELEMETRY_HOST=
DB_TELEMETRY_NAME=
DB_TELEMETRY_USER=
DB_TELEMETRY_PASSWORD=

# ==========================================
# WEBSOCKETS (TIEMPO REAL)
# ==========================================
WS_HOST=0.0.0.0
WS_PORT=8765

# ==========================================
# TIMELAPSE Y PERSISTENCIA DE LIENZOS
# ==========================================
TIMELAPSE_DIR=/app/storage/private/canvases/timelapses
WORKER_TIMELAPSE_SYNC_INTERVAL=5
WORKER_TIMELAPSE_BATCH_SIZE=5000

# ==========================================
# WORKER: REINICIO DE LIENZOS
# ==========================================
# Cada cuántos segundos el worker revisará si hay un reinicio pendiente (Recomendado: 10 a 60)
WORKER_RESETS_SYNC_INTERVAL=10

# ==========================================
# MOTOR DE BÚSQUEDA (TYPESENSE)
# ==========================================
TYPESENSE_API_KEY=
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http