# Archivos de entorno con credenciales sensibles
.env
.env.*
!.env.example

.DS_Store
Thumbs.db
desktop.ini

# Directorios de dependencias
vendor/
node_modules/

# Archivos de logs generales
*.log
error_log

/storage/private/logs/
!/storage/private/logs/.gitkeep

/storage/private/canvases/
!/storage/private/canvases/.gitkeep


storage/private/backups/*.sql
storage/private/backups/*.enc
storage/private/backups/*.gz
!/storage/private/.htaccess

# === BLOQUEO ESTRICTO: DATOS SENSIBLES Y ARCHIVOS BINARIOS ===

# Ignorar la base de datos binaria de GeoIP
/storage/private/geolocation/*.mmdb

/storage/public/profilePictures/default/*
/storage/public/profilePictures/uploaded/*
!/storage/public/profilePictures/.htaccess

# Ignorar el symlink generado dinámicamente
/public/storage
/storage/public/public

# Ignorar archivos generados por editores / IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln


# Ignorar archivos generados dinámicamente en el storage público
/storage/public/thumbnails/
/storage/public/snapshots_archive/
/storage/public/templates/

/storage/public/canvases/