.material-symbols-rounded, .msr {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: url('../icons/sprite.svg');
  mask-image: url('../icons/sprite.svg');
  -webkit-mask-size: 1000% 3800%;
  mask-size: 1000% 3800%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  vertical-align: -0.125em;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}
.msr-2d {
  -webkit-mask-position: 0.0000% 0.0000%;
  mask-position: 0.0000% 0.0000%;
}
.msr-360 {
  -webkit-mask-position: 11.1111% 0.0000%;
  mask-position: 11.1111% 0.0000%;
}
.msr-ac_unit {
  -webkit-mask-position: 22.2222% 0.0000%;
  mask-position: 22.2222% 0.0000%;
}
.msr-accessibility {
  -webkit-mask-position: 33.3333% 0.0000%;
  mask-position: 33.3333% 0.0000%;
}
.msr-accessibility_new {
  -webkit-mask-position: 44.4444% 0.0000%;
  mask-position: 44.4444% 0.0000%;
}
.msr-account_circle {
  -webkit-mask-position: 55.5556% 0.0000%;
  mask-position: 55.5556% 0.0000%;
}
.msr-add {
  -webkit-mask-position: 66.6667% 0.0000%;
  mask-position: 66.6667% 0.0000%;
}
.msr-add_box {
  -webkit-mask-position: 77.7778% 0.0000%;
  mask-position: 77.7778% 0.0000%;
}
.msr-add_circle {
  -webkit-mask-position: 88.8889% 0.0000%;
  mask-position: 88.8889% 0.0000%;
}
.msr-add_link {
  -webkit-mask-position: 100.0000% 0.0000%;
  mask-position: 100.0000% 0.0000%;
}
.msr-adjust {
  -webkit-mask-position: 0.0000% 2.7027%;
  mask-position: 0.0000% 2.7027%;
}
.msr-admin_panel_settings {
  -webkit-mask-position: 11.1111% 2.7027%;
  mask-position: 11.1111% 2.7027%;
}
.msr-all_inclusive {
  -webkit-mask-position: 22.2222% 2.7027%;
  mask-position: 22.2222% 2.7027%;
}
.msr-anchor {
  -webkit-mask-position: 33.3333% 2.7027%;
  mask-position: 33.3333% 2.7027%;
}
.msr-android {
  -webkit-mask-position: 44.4444% 2.7027%;
  mask-position: 44.4444% 2.7027%;
}
.msr-animation {
  -webkit-mask-position: 55.5556% 2.7027%;
  mask-position: 55.5556% 2.7027%;
}
.msr-api {
  -webkit-mask-position: 66.6667% 2.7027%;
  mask-position: 66.6667% 2.7027%;
}
.msr-approval {
  -webkit-mask-position: 77.7778% 2.7027%;
  mask-position: 77.7778% 2.7027%;
}
.msr-arrow_back {
  -webkit-mask-position: 88.8889% 2.7027%;
  mask-position: 88.8889% 2.7027%;
}
.msr-aspect_ratio {
  -webkit-mask-position: 100.0000% 2.7027%;
  mask-position: 100.0000% 2.7027%;
}
.msr-assignment {
  -webkit-mask-position: 0.0000% 5.4054%;
  mask-position: 0.0000% 5.4054%;
}
.msr-attach_file {
  -webkit-mask-position: 11.1111% 5.4054%;
  mask-position: 11.1111% 5.4054%;
}
.msr-attach_money {
  -webkit-mask-position: 22.2222% 5.4054%;
  mask-position: 22.2222% 5.4054%;
}
.msr-attachment {
  -webkit-mask-position: 33.3333% 5.4054%;
  mask-position: 33.3333% 5.4054%;
}
.msr-auto_awesome {
  -webkit-mask-position: 44.4444% 5.4054%;
  mask-position: 44.4444% 5.4054%;
}
.msr-auto_delete {
  -webkit-mask-position: 55.5556% 5.4054%;
  mask-position: 55.5556% 5.4054%;
}
.msr-auto_fix_high {
  -webkit-mask-position: 66.6667% 5.4054%;
  mask-position: 66.6667% 5.4054%;
}
.msr-automation {
  -webkit-mask-position: 77.7778% 5.4054%;
  mask-position: 77.7778% 5.4054%;
}
.msr-autorenew {
  -webkit-mask-position: 88.8889% 5.4054%;
  mask-position: 88.8889% 5.4054%;
}
.msr-backup {
  -webkit-mask-position: 100.0000% 5.4054%;
  mask-position: 100.0000% 5.4054%;
}
.msr-badge {
  -webkit-mask-position: 0.0000% 8.1081%;
  mask-position: 0.0000% 8.1081%;
}
.msr-balance {
  -webkit-mask-position: 11.1111% 8.1081%;
  mask-position: 11.1111% 8.1081%;
}
.msr-bar_chart {
  -webkit-mask-position: 22.2222% 8.1081%;
  mask-position: 22.2222% 8.1081%;
}
.msr-block {
  -webkit-mask-position: 33.3333% 8.1081%;
  mask-position: 33.3333% 8.1081%;
}
.msr-bolt {
  -webkit-mask-position: 44.4444% 8.1081%;
  mask-position: 44.4444% 8.1081%;
}
.msr-bomb {
  -webkit-mask-position: 55.5556% 8.1081%;
  mask-position: 55.5556% 8.1081%;
}
.msr-border_color {
  -webkit-mask-position: 66.6667% 8.1081%;
  mask-position: 66.6667% 8.1081%;
}
.msr-box {
  -webkit-mask-position: 77.7778% 8.1081%;
  mask-position: 77.7778% 8.1081%;
}
.msr-brightness_auto {
  -webkit-mask-position: 88.8889% 8.1081%;
  mask-position: 88.8889% 8.1081%;
}
.msr-brush {
  -webkit-mask-position: 100.0000% 8.1081%;
  mask-position: 100.0000% 8.1081%;
}
.msr-bubble {
  -webkit-mask-position: 0.0000% 10.8108%;
  mask-position: 0.0000% 10.8108%;
}
.msr-build {
  -webkit-mask-position: 11.1111% 10.8108%;
  mask-position: 11.1111% 10.8108%;
}
.msr-build_circle {
  -webkit-mask-position: 22.2222% 10.8108%;
  mask-position: 22.2222% 10.8108%;
}
.msr-cached {
  -webkit-mask-position: 33.3333% 10.8108%;
  mask-position: 33.3333% 10.8108%;
}
.msr-calculate {
  -webkit-mask-position: 44.4444% 10.8108%;
  mask-position: 44.4444% 10.8108%;
}
.msr-calendar_month {
  -webkit-mask-position: 55.5556% 10.8108%;
  mask-position: 55.5556% 10.8108%;
}
.msr-calendar_today {
  -webkit-mask-position: 66.6667% 10.8108%;
  mask-position: 66.6667% 10.8108%;
}
.msr-call {
  -webkit-mask-position: 77.7778% 10.8108%;
  mask-position: 77.7778% 10.8108%;
}
.msr-campaign {
  -webkit-mask-position: 88.8889% 10.8108%;
  mask-position: 88.8889% 10.8108%;
}
.msr-cancel {
  -webkit-mask-position: 100.0000% 10.8108%;
  mask-position: 100.0000% 10.8108%;
}
.msr-capture {
  -webkit-mask-position: 0.0000% 13.5135%;
  mask-position: 0.0000% 13.5135%;
}
.msr-cards {
  -webkit-mask-position: 11.1111% 13.5135%;
  mask-position: 11.1111% 13.5135%;
}
.msr-category {
  -webkit-mask-position: 22.2222% 13.5135%;
  mask-position: 22.2222% 13.5135%;
}
.msr-chat {
  -webkit-mask-position: 33.3333% 13.5135%;
  mask-position: 33.3333% 13.5135%;
}
.msr-check {
  -webkit-mask-position: 44.4444% 13.5135%;
  mask-position: 44.4444% 13.5135%;
}
.msr-check_box {
  -webkit-mask-position: 55.5556% 13.5135%;
  mask-position: 55.5556% 13.5135%;
}
.msr-check_box_outline_blank {
  -webkit-mask-position: 66.6667% 13.5135%;
  mask-position: 66.6667% 13.5135%;
}
.msr-check_circle {
  -webkit-mask-position: 77.7778% 13.5135%;
  mask-position: 77.7778% 13.5135%;
}
.msr-chevron_left {
  -webkit-mask-position: 88.8889% 13.5135%;
  mask-position: 88.8889% 13.5135%;
}
.msr-chevron_right {
  -webkit-mask-position: 100.0000% 13.5135%;
  mask-position: 100.0000% 13.5135%;
}
.msr-circle {
  -webkit-mask-position: 0.0000% 16.2162%;
  mask-position: 0.0000% 16.2162%;
}
.msr-class {
  -webkit-mask-position: 11.1111% 16.2162%;
  mask-position: 11.1111% 16.2162%;
}
.msr-cleaning_services {
  -webkit-mask-position: 22.2222% 16.2162%;
  mask-position: 22.2222% 16.2162%;
}
.msr-clear {
  -webkit-mask-position: 33.3333% 16.2162%;
  mask-position: 33.3333% 16.2162%;
}
.msr-close {
  -webkit-mask-position: 44.4444% 16.2162%;
  mask-position: 44.4444% 16.2162%;
}
.msr-cloud {
  -webkit-mask-position: 55.5556% 16.2162%;
  mask-position: 55.5556% 16.2162%;
}
.msr-cloud_done {
  -webkit-mask-position: 66.6667% 16.2162%;
  mask-position: 66.6667% 16.2162%;
}
.msr-cloud_off {
  -webkit-mask-position: 77.7778% 16.2162%;
  mask-position: 77.7778% 16.2162%;
}
.msr-cloud_queue {
  -webkit-mask-position: 88.8889% 16.2162%;
  mask-position: 88.8889% 16.2162%;
}
.msr-cloud_upload {
  -webkit-mask-position: 100.0000% 16.2162%;
  mask-position: 100.0000% 16.2162%;
}
.msr-code {
  -webkit-mask-position: 0.0000% 18.9189%;
  mask-position: 0.0000% 18.9189%;
}
.msr-code_blocks {
  -webkit-mask-position: 11.1111% 18.9189%;
  mask-position: 11.1111% 18.9189%;
}
.msr-collections {
  -webkit-mask-position: 22.2222% 18.9189%;
  mask-position: 22.2222% 18.9189%;
}
.msr-collections_bookmark {
  -webkit-mask-position: 33.3333% 18.9189%;
  mask-position: 33.3333% 18.9189%;
}
.msr-color_lens {
  -webkit-mask-position: 44.4444% 18.9189%;
  mask-position: 44.4444% 18.9189%;
}
.msr-colors {
  -webkit-mask-position: 55.5556% 18.9189%;
  mask-position: 55.5556% 18.9189%;
}
.msr-commit {
  -webkit-mask-position: 66.6667% 18.9189%;
  mask-position: 66.6667% 18.9189%;
}
.msr-conditions {
  -webkit-mask-position: 77.7778% 18.9189%;
  mask-position: 77.7778% 18.9189%;
}
.msr-construction {
  -webkit-mask-position: 88.8889% 18.9189%;
  mask-position: 88.8889% 18.9189%;
}
.msr-content_copy {
  -webkit-mask-position: 100.0000% 18.9189%;
  mask-position: 100.0000% 18.9189%;
}
.msr-cookie {
  -webkit-mask-position: 0.0000% 21.6216%;
  mask-position: 0.0000% 21.6216%;
}
.msr-copyright {
  -webkit-mask-position: 11.1111% 21.6216%;
  mask-position: 11.1111% 21.6216%;
}
.msr-create {
  -webkit-mask-position: 22.2222% 21.6216%;
  mask-position: 22.2222% 21.6216%;
}
.msr-credit_card {
  -webkit-mask-position: 33.3333% 21.6216%;
  mask-position: 33.3333% 21.6216%;
}
.msr-credit_card_off {
  -webkit-mask-position: 44.4444% 21.6216%;
  mask-position: 44.4444% 21.6216%;
}
.msr-crisis_alert {
  -webkit-mask-position: 55.5556% 21.6216%;
  mask-position: 55.5556% 21.6216%;
}
.msr-crop_free {
  -webkit-mask-position: 66.6667% 21.6216%;
  mask-position: 66.6667% 21.6216%;
}
.msr-crop_square {
  -webkit-mask-position: 77.7778% 21.6216%;
  mask-position: 77.7778% 21.6216%;
}
.msr-css {
  -webkit-mask-position: 88.8889% 21.6216%;
  mask-position: 88.8889% 21.6216%;
}
.msr-currency_exchange {
  -webkit-mask-position: 100.0000% 21.6216%;
  mask-position: 100.0000% 21.6216%;
}
.msr-dangerous {
  -webkit-mask-position: 0.0000% 24.3243%;
  mask-position: 0.0000% 24.3243%;
}
.msr-dark_mode {
  -webkit-mask-position: 11.1111% 24.3243%;
  mask-position: 11.1111% 24.3243%;
}
.msr-dashboard {
  -webkit-mask-position: 22.2222% 24.3243%;
  mask-position: 22.2222% 24.3243%;
}
.msr-dashboard_customize {
  -webkit-mask-position: 33.3333% 24.3243%;
  mask-position: 33.3333% 24.3243%;
}
.msr-database {
  -webkit-mask-position: 44.4444% 24.3243%;
  mask-position: 44.4444% 24.3243%;
}
.msr-dataset {
  -webkit-mask-position: 55.5556% 24.3243%;
  mask-position: 55.5556% 24.3243%;
}
.msr-date_range {
  -webkit-mask-position: 66.6667% 24.3243%;
  mask-position: 66.6667% 24.3243%;
}
.msr-delete {
  -webkit-mask-position: 77.7778% 24.3243%;
  mask-position: 77.7778% 24.3243%;
}
.msr-delete_forever {
  -webkit-mask-position: 88.8889% 24.3243%;
  mask-position: 88.8889% 24.3243%;
}
.msr-description {
  -webkit-mask-position: 100.0000% 24.3243%;
  mask-position: 100.0000% 24.3243%;
}
.msr-details {
  -webkit-mask-position: 0.0000% 27.0270%;
  mask-position: 0.0000% 27.0270%;
}
.msr-devices {
  -webkit-mask-position: 11.1111% 27.0270%;
  mask-position: 11.1111% 27.0270%;
}
.msr-diamond {
  -webkit-mask-position: 22.2222% 27.0270%;
  mask-position: 22.2222% 27.0270%;
}
.msr-dns {
  -webkit-mask-position: 33.3333% 27.0270%;
  mask-position: 33.3333% 27.0270%;
}
.msr-domain {
  -webkit-mask-position: 44.4444% 27.0270%;
  mask-position: 44.4444% 27.0270%;
}
.msr-download {
  -webkit-mask-position: 55.5556% 27.0270%;
  mask-position: 55.5556% 27.0270%;
}
.msr-draft {
  -webkit-mask-position: 66.6667% 27.0270%;
  mask-position: 66.6667% 27.0270%;
}
.msr-draw {
  -webkit-mask-position: 77.7778% 27.0270%;
  mask-position: 77.7778% 27.0270%;
}
.msr-dropdown {
  -webkit-mask-position: 88.8889% 27.0270%;
  mask-position: 88.8889% 27.0270%;
}
.msr-east {
  -webkit-mask-position: 100.0000% 27.0270%;
  mask-position: 100.0000% 27.0270%;
}
.msr-edit {
  -webkit-mask-position: 0.0000% 29.7297%;
  mask-position: 0.0000% 29.7297%;
}
.msr-edit_calendar {
  -webkit-mask-position: 11.1111% 29.7297%;
  mask-position: 11.1111% 29.7297%;
}
.msr-email {
  -webkit-mask-position: 22.2222% 29.7297%;
  mask-position: 22.2222% 29.7297%;
}
.msr-emergency {
  -webkit-mask-position: 33.3333% 29.7297%;
  mask-position: 33.3333% 29.7297%;
}
.msr-equal {
  -webkit-mask-position: 44.4444% 29.7297%;
  mask-position: 44.4444% 29.7297%;
}
.msr-error {
  -webkit-mask-position: 55.5556% 29.7297%;
  mask-position: 55.5556% 29.7297%;
}
.msr-error_outline {
  -webkit-mask-position: 66.6667% 29.7297%;
  mask-position: 66.6667% 29.7297%;
}
.msr-event {
  -webkit-mask-position: 77.7778% 29.7297%;
  mask-position: 77.7778% 29.7297%;
}
.msr-event_repeat {
  -webkit-mask-position: 88.8889% 29.7297%;
  mask-position: 88.8889% 29.7297%;
}
.msr-expand {
  -webkit-mask-position: 100.0000% 29.7297%;
  mask-position: 100.0000% 29.7297%;
}
.msr-expand_more {
  -webkit-mask-position: 0.0000% 32.4324%;
  mask-position: 0.0000% 32.4324%;
}
.msr-explore {
  -webkit-mask-position: 11.1111% 32.4324%;
  mask-position: 11.1111% 32.4324%;
}
.msr-explosion {
  -webkit-mask-position: 22.2222% 32.4324%;
  mask-position: 22.2222% 32.4324%;
}
.msr-extension {
  -webkit-mask-position: 33.3333% 32.4324%;
  mask-position: 33.3333% 32.4324%;
}
.msr-fact_check {
  -webkit-mask-position: 44.4444% 32.4324%;
  mask-position: 44.4444% 32.4324%;
}
.msr-falling {
  -webkit-mask-position: 55.5556% 32.4324%;
  mask-position: 55.5556% 32.4324%;
}
.msr-favorite {
  -webkit-mask-position: 66.6667% 32.4324%;
  mask-position: 66.6667% 32.4324%;
}
.msr-feed {
  -webkit-mask-position: 77.7778% 32.4324%;
  mask-position: 77.7778% 32.4324%;
}
.msr-feedback {
  -webkit-mask-position: 88.8889% 32.4324%;
  mask-position: 88.8889% 32.4324%;
}
.msr-files {
  -webkit-mask-position: 100.0000% 32.4324%;
  mask-position: 100.0000% 32.4324%;
}
.msr-filter {
  -webkit-mask-position: 0.0000% 35.1351%;
  mask-position: 0.0000% 35.1351%;
}
.msr-filter_alt_off {
  -webkit-mask-position: 11.1111% 35.1351%;
  mask-position: 11.1111% 35.1351%;
}
.msr-fingerprint {
  -webkit-mask-position: 22.2222% 35.1351%;
  mask-position: 22.2222% 35.1351%;
}
.msr-flag {
  -webkit-mask-position: 33.3333% 35.1351%;
  mask-position: 33.3333% 35.1351%;
}
.msr-flash_on {
  -webkit-mask-position: 44.4444% 35.1351%;
  mask-position: 44.4444% 35.1351%;
}
.msr-flip {
  -webkit-mask-position: 55.5556% 35.1351%;
  mask-position: 55.5556% 35.1351%;
}
.msr-floor {
  -webkit-mask-position: 66.6667% 35.1351%;
  mask-position: 66.6667% 35.1351%;
}
.msr-folder_off {
  -webkit-mask-position: 77.7778% 35.1351%;
  mask-position: 77.7778% 35.1351%;
}
.msr-folder_open {
  -webkit-mask-position: 88.8889% 35.1351%;
  mask-position: 88.8889% 35.1351%;
}
.msr-format_list_bulleted {
  -webkit-mask-position: 100.0000% 35.1351%;
  mask-position: 100.0000% 35.1351%;
}
.msr-front_hand {
  -webkit-mask-position: 0.0000% 37.8378%;
  mask-position: 0.0000% 37.8378%;
}
.msr-fullscreen {
  -webkit-mask-position: 11.1111% 37.8378%;
  mask-position: 11.1111% 37.8378%;
}
.msr-function {
  -webkit-mask-position: 22.2222% 37.8378%;
  mask-position: 22.2222% 37.8378%;
}
.msr-gavel {
  -webkit-mask-position: 33.3333% 37.8378%;
  mask-position: 33.3333% 37.8378%;
}
.msr-gif {
  -webkit-mask-position: 44.4444% 37.8378%;
  mask-position: 44.4444% 37.8378%;
}
.msr-gpp_bad {
  -webkit-mask-position: 55.5556% 37.8378%;
  mask-position: 55.5556% 37.8378%;
}
.msr-gradient {
  -webkit-mask-position: 66.6667% 37.8378%;
  mask-position: 66.6667% 37.8378%;
}
.msr-grid_4x4 {
  -webkit-mask-position: 77.7778% 37.8378%;
  mask-position: 77.7778% 37.8378%;
}
.msr-grid_on {
  -webkit-mask-position: 88.8889% 37.8378%;
  mask-position: 88.8889% 37.8378%;
}
.msr-grid_view {
  -webkit-mask-position: 100.0000% 37.8378%;
  mask-position: 100.0000% 37.8378%;
}
.msr-group {
  -webkit-mask-position: 0.0000% 40.5405%;
  mask-position: 0.0000% 40.5405%;
}
.msr-group_add {
  -webkit-mask-position: 11.1111% 40.5405%;
  mask-position: 11.1111% 40.5405%;
}
.msr-group_off {
  -webkit-mask-position: 22.2222% 40.5405%;
  mask-position: 22.2222% 40.5405%;
}
.msr-groups {
  -webkit-mask-position: 33.3333% 40.5405%;
  mask-position: 33.3333% 40.5405%;
}
.msr-hard_drive {
  -webkit-mask-position: 44.4444% 40.5405%;
  mask-position: 44.4444% 40.5405%;
}
.msr-height {
  -webkit-mask-position: 55.5556% 40.5405%;
  mask-position: 55.5556% 40.5405%;
}
.msr-help {
  -webkit-mask-position: 66.6667% 40.5405%;
  mask-position: 66.6667% 40.5405%;
}
.msr-hide {
  -webkit-mask-position: 77.7778% 40.5405%;
  mask-position: 77.7778% 40.5405%;
}
.msr-high_quality {
  -webkit-mask-position: 88.8889% 40.5405%;
  mask-position: 88.8889% 40.5405%;
}
.msr-highlight {
  -webkit-mask-position: 100.0000% 40.5405%;
  mask-position: 100.0000% 40.5405%;
}
.msr-history {
  -webkit-mask-position: 0.0000% 43.2432%;
  mask-position: 0.0000% 43.2432%;
}
.msr-home {
  -webkit-mask-position: 11.1111% 43.2432%;
  mask-position: 11.1111% 43.2432%;
}
.msr-host {
  -webkit-mask-position: 22.2222% 43.2432%;
  mask-position: 22.2222% 43.2432%;
}
.msr-hourglass_empty {
  -webkit-mask-position: 33.3333% 43.2432%;
  mask-position: 33.3333% 43.2432%;
}
.msr-hourglass_top {
  -webkit-mask-position: 44.4444% 43.2432%;
  mask-position: 44.4444% 43.2432%;
}
.msr-html {
  -webkit-mask-position: 55.5556% 43.2432%;
  mask-position: 55.5556% 43.2432%;
}
.msr-http {
  -webkit-mask-position: 66.6667% 43.2432%;
  mask-position: 66.6667% 43.2432%;
}
.msr-https {
  -webkit-mask-position: 77.7778% 43.2432%;
  mask-position: 77.7778% 43.2432%;
}
.msr-hub {
  -webkit-mask-position: 88.8889% 43.2432%;
  mask-position: 88.8889% 43.2432%;
}
.msr-image {
  -webkit-mask-position: 100.0000% 43.2432%;
  mask-position: 100.0000% 43.2432%;
}
.msr-inbox {
  -webkit-mask-position: 0.0000% 45.9459%;
  mask-position: 0.0000% 45.9459%;
}
.msr-info {
  -webkit-mask-position: 11.1111% 45.9459%;
  mask-position: 11.1111% 45.9459%;
}
.msr-input {
  -webkit-mask-position: 22.2222% 45.9459%;
  mask-position: 22.2222% 45.9459%;
}
.msr-inventory {
  -webkit-mask-position: 33.3333% 45.9459%;
  mask-position: 33.3333% 45.9459%;
}
.msr-inventory_2 {
  -webkit-mask-position: 44.4444% 45.9459%;
  mask-position: 44.4444% 45.9459%;
}
.msr-iso {
  -webkit-mask-position: 55.5556% 45.9459%;
  mask-position: 55.5556% 45.9459%;
}
.msr-javascript {
  -webkit-mask-position: 66.6667% 45.9459%;
  mask-position: 66.6667% 45.9459%;
}
.msr-join {
  -webkit-mask-position: 77.7778% 45.9459%;
  mask-position: 77.7778% 45.9459%;
}
.msr-keep {
  -webkit-mask-position: 88.8889% 45.9459%;
  mask-position: 88.8889% 45.9459%;
}
.msr-key {
  -webkit-mask-position: 100.0000% 45.9459%;
  mask-position: 100.0000% 45.9459%;
}
.msr-key_off {
  -webkit-mask-position: 0.0000% 48.6486%;
  mask-position: 0.0000% 48.6486%;
}
.msr-keyboard_double_arrow_left {
  -webkit-mask-position: 11.1111% 48.6486%;
  mask-position: 11.1111% 48.6486%;
}
.msr-keyboard_double_arrow_right {
  -webkit-mask-position: 22.2222% 48.6486%;
  mask-position: 22.2222% 48.6486%;
}
.msr-label {
  -webkit-mask-position: 33.3333% 48.6486%;
  mask-position: 33.3333% 48.6486%;
}
.msr-language {
  -webkit-mask-position: 44.4444% 48.6486%;
  mask-position: 44.4444% 48.6486%;
}
.msr-layers {
  -webkit-mask-position: 55.5556% 48.6486%;
  mask-position: 55.5556% 48.6486%;
}
.msr-light {
  -webkit-mask-position: 66.6667% 48.6486%;
  mask-position: 66.6667% 48.6486%;
}
.msr-light_mode {
  -webkit-mask-position: 77.7778% 48.6486%;
  mask-position: 77.7778% 48.6486%;
}
.msr-link {
  -webkit-mask-position: 88.8889% 48.6486%;
  mask-position: 88.8889% 48.6486%;
}
.msr-link_off {
  -webkit-mask-position: 100.0000% 48.6486%;
  mask-position: 100.0000% 48.6486%;
}
.msr-list {
  -webkit-mask-position: 0.0000% 51.3514%;
  mask-position: 0.0000% 51.3514%;
}
.msr-local_police {
  -webkit-mask-position: 11.1111% 51.3514%;
  mask-position: 11.1111% 51.3514%;
}
.msr-lock {
  -webkit-mask-position: 22.2222% 51.3514%;
  mask-position: 22.2222% 51.3514%;
}
.msr-lock_clock {
  -webkit-mask-position: 33.3333% 51.3514%;
  mask-position: 33.3333% 51.3514%;
}
.msr-lock_open {
  -webkit-mask-position: 44.4444% 51.3514%;
  mask-position: 44.4444% 51.3514%;
}
.msr-lock_reset {
  -webkit-mask-position: 55.5556% 51.3514%;
  mask-position: 55.5556% 51.3514%;
}
.msr-login {
  -webkit-mask-position: 66.6667% 51.3514%;
  mask-position: 66.6667% 51.3514%;
}
.msr-logout {
  -webkit-mask-position: 77.7778% 51.3514%;
  mask-position: 77.7778% 51.3514%;
}
.msr-looks {
  -webkit-mask-position: 88.8889% 51.3514%;
  mask-position: 88.8889% 51.3514%;
}
.msr-loop {
  -webkit-mask-position: 100.0000% 51.3514%;
  mask-position: 100.0000% 51.3514%;
}
.msr-mail {
  -webkit-mask-position: 0.0000% 54.0541%;
  mask-position: 0.0000% 54.0541%;
}
.msr-manage_accounts {
  -webkit-mask-position: 11.1111% 54.0541%;
  mask-position: 11.1111% 54.0541%;
}
.msr-map {
  -webkit-mask-position: 22.2222% 54.0541%;
  mask-position: 22.2222% 54.0541%;
}
.msr-margin {
  -webkit-mask-position: 33.3333% 54.0541%;
  mask-position: 33.3333% 54.0541%;
}
.msr-memory {
  -webkit-mask-position: 44.4444% 54.0541%;
  mask-position: 44.4444% 54.0541%;
}
.msr-menu {
  -webkit-mask-position: 55.5556% 54.0541%;
  mask-position: 55.5556% 54.0541%;
}
.msr-message {
  -webkit-mask-position: 66.6667% 54.0541%;
  mask-position: 66.6667% 54.0541%;
}
.msr-mobile {
  -webkit-mask-position: 77.7778% 54.0541%;
  mask-position: 77.7778% 54.0541%;
}
.msr-mode {
  -webkit-mask-position: 88.8889% 54.0541%;
  mask-position: 88.8889% 54.0541%;
}
.msr-monetization_on {
  -webkit-mask-position: 100.0000% 54.0541%;
  mask-position: 100.0000% 54.0541%;
}
.msr-monitoring {
  -webkit-mask-position: 0.0000% 56.7568%;
  mask-position: 0.0000% 56.7568%;
}
.msr-mood {
  -webkit-mask-position: 11.1111% 56.7568%;
  mask-position: 11.1111% 56.7568%;
}
.msr-more {
  -webkit-mask-position: 22.2222% 56.7568%;
  mask-position: 22.2222% 56.7568%;
}
.msr-more_vert {
  -webkit-mask-position: 33.3333% 56.7568%;
  mask-position: 33.3333% 56.7568%;
}
.msr-mouse {
  -webkit-mask-position: 44.4444% 56.7568%;
  mask-position: 44.4444% 56.7568%;
}
.msr-move {
  -webkit-mask-position: 55.5556% 56.7568%;
  mask-position: 55.5556% 56.7568%;
}
.msr-movie {
  -webkit-mask-position: 66.6667% 56.7568%;
  mask-position: 66.6667% 56.7568%;
}
.msr-moving {
  -webkit-mask-position: 77.7778% 56.7568%;
  mask-position: 77.7778% 56.7568%;
}
.msr-music_note {
  -webkit-mask-position: 88.8889% 56.7568%;
  mask-position: 88.8889% 56.7568%;
}
.msr-my_location {
  -webkit-mask-position: 100.0000% 56.7568%;
  mask-position: 100.0000% 56.7568%;
}
.msr-nature {
  -webkit-mask-position: 0.0000% 59.4595%;
  mask-position: 0.0000% 59.4595%;
}
.msr-navigate_next {
  -webkit-mask-position: 11.1111% 59.4595%;
  mask-position: 11.1111% 59.4595%;
}
.msr-navigation {
  -webkit-mask-position: 22.2222% 59.4595%;
  mask-position: 22.2222% 59.4595%;
}
.msr-no_accounts {
  -webkit-mask-position: 33.3333% 59.4595%;
  mask-position: 33.3333% 59.4595%;
}
.msr-north {
  -webkit-mask-position: 44.4444% 59.4595%;
  mask-position: 44.4444% 59.4595%;
}
.msr-north_east {
  -webkit-mask-position: 55.5556% 59.4595%;
  mask-position: 55.5556% 59.4595%;
}
.msr-north_west {
  -webkit-mask-position: 66.6667% 59.4595%;
  mask-position: 66.6667% 59.4595%;
}
.msr-numbers {
  -webkit-mask-position: 77.7778% 59.4595%;
  mask-position: 77.7778% 59.4595%;
}
.msr-opacity {
  -webkit-mask-position: 88.8889% 59.4595%;
  mask-position: 88.8889% 59.4595%;
}
.msr-open_in_new {
  -webkit-mask-position: 100.0000% 59.4595%;
  mask-position: 100.0000% 59.4595%;
}
.msr-outlet {
  -webkit-mask-position: 0.0000% 62.1622%;
  mask-position: 0.0000% 62.1622%;
}
.msr-padding {
  -webkit-mask-position: 11.1111% 62.1622%;
  mask-position: 11.1111% 62.1622%;
}
.msr-pageview {
  -webkit-mask-position: 22.2222% 62.1622%;
  mask-position: 22.2222% 62.1622%;
}
.msr-paid {
  -webkit-mask-position: 33.3333% 62.1622%;
  mask-position: 33.3333% 62.1622%;
}
.msr-palette {
  -webkit-mask-position: 44.4444% 62.1622%;
  mask-position: 44.4444% 62.1622%;
}
.msr-password {
  -webkit-mask-position: 55.5556% 62.1622%;
  mask-position: 55.5556% 62.1622%;
}
.msr-pattern {
  -webkit-mask-position: 66.6667% 62.1622%;
  mask-position: 66.6667% 62.1622%;
}
.msr-payment {
  -webkit-mask-position: 77.7778% 62.1622%;
  mask-position: 77.7778% 62.1622%;
}
.msr-payments {
  -webkit-mask-position: 88.8889% 62.1622%;
  mask-position: 88.8889% 62.1622%;
}
.msr-pending {
  -webkit-mask-position: 100.0000% 62.1622%;
  mask-position: 100.0000% 62.1622%;
}
.msr-person {
  -webkit-mask-position: 0.0000% 64.8649%;
  mask-position: 0.0000% 64.8649%;
}
.msr-person_add {
  -webkit-mask-position: 11.1111% 64.8649%;
  mask-position: 11.1111% 64.8649%;
}
.msr-person_off {
  -webkit-mask-position: 22.2222% 64.8649%;
  mask-position: 22.2222% 64.8649%;
}
.msr-person_remove {
  -webkit-mask-position: 33.3333% 64.8649%;
  mask-position: 33.3333% 64.8649%;
}
.msr-photo_camera {
  -webkit-mask-position: 44.4444% 64.8649%;
  mask-position: 44.4444% 64.8649%;
}
.msr-photo_library {
  -webkit-mask-position: 55.5556% 64.8649%;
  mask-position: 55.5556% 64.8649%;
}
.msr-php {
  -webkit-mask-position: 66.6667% 64.8649%;
  mask-position: 66.6667% 64.8649%;
}
.msr-pie_chart {
  -webkit-mask-position: 77.7778% 64.8649%;
  mask-position: 77.7778% 64.8649%;
}
.msr-pill {
  -webkit-mask-position: 88.8889% 64.8649%;
  mask-position: 88.8889% 64.8649%;
}
.msr-policy {
  -webkit-mask-position: 100.0000% 64.8649%;
  mask-position: 100.0000% 64.8649%;
}
.msr-pool {
  -webkit-mask-position: 0.0000% 67.5676%;
  mask-position: 0.0000% 67.5676%;
}
.msr-post {
  -webkit-mask-position: 11.1111% 67.5676%;
  mask-position: 11.1111% 67.5676%;
}
.msr-power_settings_new {
  -webkit-mask-position: 22.2222% 67.5676%;
  mask-position: 22.2222% 67.5676%;
}
.msr-preview {
  -webkit-mask-position: 33.3333% 67.5676%;
  mask-position: 33.3333% 67.5676%;
}
.msr-privacy {
  -webkit-mask-position: 44.4444% 67.5676%;
  mask-position: 44.4444% 67.5676%;
}
.msr-privacy_tip {
  -webkit-mask-position: 55.5556% 67.5676%;
  mask-position: 55.5556% 67.5676%;
}
.msr-public {
  -webkit-mask-position: 66.6667% 67.5676%;
  mask-position: 66.6667% 67.5676%;
}
.msr-publish {
  -webkit-mask-position: 77.7778% 67.5676%;
  mask-position: 77.7778% 67.5676%;
}
.msr-qr_code_scanner {
  -webkit-mask-position: 88.8889% 67.5676%;
  mask-position: 88.8889% 67.5676%;
}
.msr-queue {
  -webkit-mask-position: 100.0000% 67.5676%;
  mask-position: 100.0000% 67.5676%;
}
.msr-radio {
  -webkit-mask-position: 0.0000% 70.2703%;
  mask-position: 0.0000% 70.2703%;
}
.msr-receipt {
  -webkit-mask-position: 11.1111% 70.2703%;
  mask-position: 11.1111% 70.2703%;
}
.msr-receipt_long {
  -webkit-mask-position: 22.2222% 70.2703%;
  mask-position: 22.2222% 70.2703%;
}
.msr-refresh {
  -webkit-mask-position: 33.3333% 70.2703%;
  mask-position: 33.3333% 70.2703%;
}
.msr-remove {
  -webkit-mask-position: 44.4444% 70.2703%;
  mask-position: 44.4444% 70.2703%;
}
.msr-repeat {
  -webkit-mask-position: 55.5556% 70.2703%;
  mask-position: 55.5556% 70.2703%;
}
.msr-reply {
  -webkit-mask-position: 66.6667% 70.2703%;
  mask-position: 66.6667% 70.2703%;
}
.msr-report {
  -webkit-mask-position: 77.7778% 70.2703%;
  mask-position: 77.7778% 70.2703%;
}
.msr-resize {
  -webkit-mask-position: 88.8889% 70.2703%;
  mask-position: 88.8889% 70.2703%;
}
.msr-restart_alt {
  -webkit-mask-position: 100.0000% 70.2703%;
  mask-position: 100.0000% 70.2703%;
}
.msr-restore {
  -webkit-mask-position: 0.0000% 72.9730%;
  mask-position: 0.0000% 72.9730%;
}
.msr-rocket_launch {
  -webkit-mask-position: 11.1111% 72.9730%;
  mask-position: 11.1111% 72.9730%;
}
.msr-rotate_right {
  -webkit-mask-position: 22.2222% 72.9730%;
  mask-position: 22.2222% 72.9730%;
}
.msr-route {
  -webkit-mask-position: 33.3333% 72.9730%;
  mask-position: 33.3333% 72.9730%;
}
.msr-router {
  -webkit-mask-position: 44.4444% 72.9730%;
  mask-position: 44.4444% 72.9730%;
}
.msr-rule {
  -webkit-mask-position: 55.5556% 72.9730%;
  mask-position: 55.5556% 72.9730%;
}
.msr-save {
  -webkit-mask-position: 66.6667% 72.9730%;
  mask-position: 66.6667% 72.9730%;
}
.msr-scale {
  -webkit-mask-position: 77.7778% 72.9730%;
  mask-position: 77.7778% 72.9730%;
}
.msr-scatter_plot {
  -webkit-mask-position: 88.8889% 72.9730%;
  mask-position: 88.8889% 72.9730%;
}
.msr-schedule {
  -webkit-mask-position: 100.0000% 72.9730%;
  mask-position: 100.0000% 72.9730%;
}
.msr-schema {
  -webkit-mask-position: 0.0000% 75.6757%;
  mask-position: 0.0000% 75.6757%;
}
.msr-science {
  -webkit-mask-position: 11.1111% 75.6757%;
  mask-position: 11.1111% 75.6757%;
}
.msr-script {
  -webkit-mask-position: 22.2222% 75.6757%;
  mask-position: 22.2222% 75.6757%;
}
.msr-search {
  -webkit-mask-position: 33.3333% 75.6757%;
  mask-position: 33.3333% 75.6757%;
}
.msr-search_off {
  -webkit-mask-position: 44.4444% 75.6757%;
  mask-position: 44.4444% 75.6757%;
}
.msr-security {
  -webkit-mask-position: 55.5556% 75.6757%;
  mask-position: 55.5556% 75.6757%;
}
.msr-segment {
  -webkit-mask-position: 66.6667% 75.6757%;
  mask-position: 66.6667% 75.6757%;
}
.msr-select {
  -webkit-mask-position: 77.7778% 75.6757%;
  mask-position: 77.7778% 75.6757%;
}
.msr-send {
  -webkit-mask-position: 88.8889% 75.6757%;
  mask-position: 88.8889% 75.6757%;
}
.msr-sensors {
  -webkit-mask-position: 100.0000% 75.6757%;
  mask-position: 100.0000% 75.6757%;
}
.msr-sensors_off {
  -webkit-mask-position: 0.0000% 78.3784%;
  mask-position: 0.0000% 78.3784%;
}
.msr-serif {
  -webkit-mask-position: 11.1111% 78.3784%;
  mask-position: 11.1111% 78.3784%;
}
.msr-settings {
  -webkit-mask-position: 22.2222% 78.3784%;
  mask-position: 22.2222% 78.3784%;
}
.msr-settings_backup_restore {
  -webkit-mask-position: 33.3333% 78.3784%;
  mask-position: 33.3333% 78.3784%;
}
.msr-shadow {
  -webkit-mask-position: 44.4444% 78.3784%;
  mask-position: 44.4444% 78.3784%;
}
.msr-share {
  -webkit-mask-position: 55.5556% 78.3784%;
  mask-position: 55.5556% 78.3784%;
}
.msr-shield {
  -webkit-mask-position: 66.6667% 78.3784%;
  mask-position: 66.6667% 78.3784%;
}
.msr-shield_lock {
  -webkit-mask-position: 77.7778% 78.3784%;
  mask-position: 77.7778% 78.3784%;
}
.msr-shield_person {
  -webkit-mask-position: 88.8889% 78.3784%;
  mask-position: 88.8889% 78.3784%;
}
.msr-shift {
  -webkit-mask-position: 100.0000% 78.3784%;
  mask-position: 100.0000% 78.3784%;
}
.msr-shopping_cart {
  -webkit-mask-position: 0.0000% 81.0811%;
  mask-position: 0.0000% 81.0811%;
}
.msr-signature {
  -webkit-mask-position: 11.1111% 81.0811%;
  mask-position: 11.1111% 81.0811%;
}
.msr-skeleton {
  -webkit-mask-position: 22.2222% 81.0811%;
  mask-position: 22.2222% 81.0811%;
}
.msr-smart_toy {
  -webkit-mask-position: 33.3333% 81.0811%;
  mask-position: 33.3333% 81.0811%;
}
.msr-sort {
  -webkit-mask-position: 44.4444% 81.0811%;
  mask-position: 44.4444% 81.0811%;
}
.msr-source {
  -webkit-mask-position: 55.5556% 81.0811%;
  mask-position: 55.5556% 81.0811%;
}
.msr-south {
  -webkit-mask-position: 66.6667% 81.0811%;
  mask-position: 66.6667% 81.0811%;
}
.msr-south_east {
  -webkit-mask-position: 77.7778% 81.0811%;
  mask-position: 77.7778% 81.0811%;
}
.msr-south_west {
  -webkit-mask-position: 88.8889% 81.0811%;
  mask-position: 88.8889% 81.0811%;
}
.msr-speaker_notes_off {
  -webkit-mask-position: 100.0000% 81.0811%;
  mask-position: 100.0000% 81.0811%;
}
.msr-speed {
  -webkit-mask-position: 0.0000% 83.7838%;
  mask-position: 0.0000% 83.7838%;
}
.msr-spellcheck {
  -webkit-mask-position: 11.1111% 83.7838%;
  mask-position: 11.1111% 83.7838%;
}
.msr-sports {
  -webkit-mask-position: 22.2222% 83.7838%;
  mask-position: 22.2222% 83.7838%;
}
.msr-sports_esports {
  -webkit-mask-position: 33.3333% 83.7838%;
  mask-position: 33.3333% 83.7838%;
}
.msr-sports_soccer {
  -webkit-mask-position: 44.4444% 83.7838%;
  mask-position: 44.4444% 83.7838%;
}
.msr-sql {
  -webkit-mask-position: 55.5556% 83.7838%;
  mask-position: 55.5556% 83.7838%;
}
.msr-square {
  -webkit-mask-position: 66.6667% 83.7838%;
  mask-position: 66.6667% 83.7838%;
}
.msr-star {
  -webkit-mask-position: 77.7778% 83.7838%;
  mask-position: 77.7778% 83.7838%;
}
.msr-stars {
  -webkit-mask-position: 88.8889% 83.7838%;
  mask-position: 88.8889% 83.7838%;
}
.msr-start {
  -webkit-mask-position: 100.0000% 83.7838%;
  mask-position: 100.0000% 83.7838%;
}
.msr-step {
  -webkit-mask-position: 0.0000% 86.4865%;
  mask-position: 0.0000% 86.4865%;
}
.msr-steps {
  -webkit-mask-position: 11.1111% 86.4865%;
  mask-position: 11.1111% 86.4865%;
}
.msr-stop {
  -webkit-mask-position: 22.2222% 86.4865%;
  mask-position: 22.2222% 86.4865%;
}
.msr-storage {
  -webkit-mask-position: 33.3333% 86.4865%;
  mask-position: 33.3333% 86.4865%;
}
.msr-store {
  -webkit-mask-position: 44.4444% 86.4865%;
  mask-position: 44.4444% 86.4865%;
}
.msr-storefront {
  -webkit-mask-position: 55.5556% 86.4865%;
  mask-position: 55.5556% 86.4865%;
}
.msr-storm {
  -webkit-mask-position: 66.6667% 86.4865%;
  mask-position: 66.6667% 86.4865%;
}
.msr-stream {
  -webkit-mask-position: 77.7778% 86.4865%;
  mask-position: 77.7778% 86.4865%;
}
.msr-style {
  -webkit-mask-position: 88.8889% 86.4865%;
  mask-position: 88.8889% 86.4865%;
}
.msr-subscriptions {
  -webkit-mask-position: 100.0000% 86.4865%;
  mask-position: 100.0000% 86.4865%;
}
.msr-support {
  -webkit-mask-position: 0.0000% 89.1892%;
  mask-position: 0.0000% 89.1892%;
}
.msr-switch {
  -webkit-mask-position: 11.1111% 89.1892%;
  mask-position: 11.1111% 89.1892%;
}
.msr-switch_account {
  -webkit-mask-position: 22.2222% 89.1892%;
  mask-position: 22.2222% 89.1892%;
}
.msr-sync {
  -webkit-mask-position: 33.3333% 89.1892%;
  mask-position: 33.3333% 89.1892%;
}
.msr-tab {
  -webkit-mask-position: 44.4444% 89.1892%;
  mask-position: 44.4444% 89.1892%;
}
.msr-table {
  -webkit-mask-position: 55.5556% 89.1892%;
  mask-position: 55.5556% 89.1892%;
}
.msr-table_rows {
  -webkit-mask-position: 66.6667% 89.1892%;
  mask-position: 66.6667% 89.1892%;
}
.msr-tablet {
  -webkit-mask-position: 77.7778% 89.1892%;
  mask-position: 77.7778% 89.1892%;
}
.msr-tabs {
  -webkit-mask-position: 88.8889% 89.1892%;
  mask-position: 88.8889% 89.1892%;
}
.msr-tag {
  -webkit-mask-position: 100.0000% 89.1892%;
  mask-position: 100.0000% 89.1892%;
}
.msr-target {
  -webkit-mask-position: 0.0000% 91.8919%;
  mask-position: 0.0000% 91.8919%;
}
.msr-task {
  -webkit-mask-position: 11.1111% 91.8919%;
  mask-position: 11.1111% 91.8919%;
}
.msr-timer {
  -webkit-mask-position: 22.2222% 91.8919%;
  mask-position: 22.2222% 91.8919%;
}
.msr-title {
  -webkit-mask-position: 33.3333% 91.8919%;
  mask-position: 33.3333% 91.8919%;
}
.msr-toast {
  -webkit-mask-position: 44.4444% 91.8919%;
  mask-position: 44.4444% 91.8919%;
}
.msr-today {
  -webkit-mask-position: 55.5556% 91.8919%;
  mask-position: 55.5556% 91.8919%;
}
.msr-token {
  -webkit-mask-position: 66.6667% 91.8919%;
  mask-position: 66.6667% 91.8919%;
}
.msr-toll {
  -webkit-mask-position: 77.7778% 91.8919%;
  mask-position: 77.7778% 91.8919%;
}
.msr-toolbar {
  -webkit-mask-position: 88.8889% 91.8919%;
  mask-position: 88.8889% 91.8919%;
}
.msr-tooltip {
  -webkit-mask-position: 100.0000% 91.8919%;
  mask-position: 100.0000% 91.8919%;
}
.msr-touch_app {
  -webkit-mask-position: 0.0000% 94.5946%;
  mask-position: 0.0000% 94.5946%;
}
.msr-transform {
  -webkit-mask-position: 11.1111% 94.5946%;
  mask-position: 11.1111% 94.5946%;
}
.msr-translate {
  -webkit-mask-position: 22.2222% 94.5946%;
  mask-position: 22.2222% 94.5946%;
}
.msr-try {
  -webkit-mask-position: 33.3333% 94.5946%;
  mask-position: 33.3333% 94.5946%;
}
.msr-tune {
  -webkit-mask-position: 44.4444% 94.5946%;
  mask-position: 44.4444% 94.5946%;
}
.msr-upcoming {
  -webkit-mask-position: 55.5556% 94.5946%;
  mask-position: 55.5556% 94.5946%;
}
.msr-update {
  -webkit-mask-position: 66.6667% 94.5946%;
  mask-position: 66.6667% 94.5946%;
}
.msr-upgrade {
  -webkit-mask-position: 77.7778% 94.5946%;
  mask-position: 77.7778% 94.5946%;
}
.msr-upload {
  -webkit-mask-position: 88.8889% 94.5946%;
  mask-position: 88.8889% 94.5946%;
}
.msr-variables {
  -webkit-mask-position: 100.0000% 94.5946%;
  mask-position: 100.0000% 94.5946%;
}
.msr-verified {
  -webkit-mask-position: 0.0000% 97.2973%;
  mask-position: 0.0000% 97.2973%;
}
.msr-verified_user {
  -webkit-mask-position: 11.1111% 97.2973%;
  mask-position: 11.1111% 97.2973%;
}
.msr-visibility {
  -webkit-mask-position: 22.2222% 97.2973%;
  mask-position: 22.2222% 97.2973%;
}
.msr-visibility_off {
  -webkit-mask-position: 33.3333% 97.2973%;
  mask-position: 33.3333% 97.2973%;
}
.msr-warning {
  -webkit-mask-position: 44.4444% 97.2973%;
  mask-position: 44.4444% 97.2973%;
}
.msr-web {
  -webkit-mask-position: 55.5556% 97.2973%;
  mask-position: 55.5556% 97.2973%;
}
.msr-webhook {
  -webkit-mask-position: 66.6667% 97.2973%;
  mask-position: 66.6667% 97.2973%;
}
.msr-weight {
  -webkit-mask-position: 77.7778% 97.2973%;
  mask-position: 77.7778% 97.2973%;
}
.msr-west {
  -webkit-mask-position: 88.8889% 97.2973%;
  mask-position: 88.8889% 97.2973%;
}
.msr-width {
  -webkit-mask-position: 100.0000% 97.2973%;
  mask-position: 100.0000% 97.2973%;
}
.msr-wifi_off {
  -webkit-mask-position: 0.0000% 100.0000%;
  mask-position: 0.0000% 100.0000%;
}
.msr-window {
  -webkit-mask-position: 11.1111% 100.0000%;
  mask-position: 11.1111% 100.0000%;
}
.msr-workspace_premium {
  -webkit-mask-position: 22.2222% 100.0000%;
  mask-position: 22.2222% 100.0000%;
}